.header{
	/*width: 100%;*/
	height: 150px;
	/*background-color: #81C784;*/
	padding: 50px;
	color: #ffffff;
	text-align: center;
}

.title{
	/*font-size: 34px;*/
	font-size: 2.3vw;
	font-weight: 300;
}

.subtitle{
	font-size: 1.2vw;
	font-weight: 300;
}

.row{
	margin-top: 20px;
	display: flex;
  align-items: center;
  justify-content: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

.left{
	align-self: flex-start;
}

.right{
	margin-left: auto;
	margin-right: 0px;
	margin-top: 0;
	margin-bottom: 0;
	/* align-self: flex-end; */
}

p{
	font-size: 14px;
	font-weight: 400;
}



@media (min-width: 481px) and (max-width: 767px) {
  .title{
		/*font-size: 34px;*/
		font-size: 4vw;
	}

	.subtitle{
		font-size: 2vw;
	}
  
  .header{
	/*width: 100%;*/
	/* height: 150px; */
	/*background-color: #81C784;*/
	padding: 20px;
	/* color: #ffffff; */

	/* text-align: center; */
}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
  .right{
		
	/* margin-right: 0px;
	margin-top: 0;
	margin-bottom: 0; */
	
	font-size: 11px;
}

.left {
font-size: 11px;
}
.header{
	/*width: 100%;*/
	/* height: 150px; */
	/*background-color: #81C784;*/
	/* padding: 10px; */
	/* color: #ffffff; */
	text-align: center;

	padding: 30px 10px 10px 10px;
}

	.title{
		/*font-size: 34px;*/
		font-size: 4vw;
	}

	.subtitle{
		font-size: 2vw;
	}
  
}