.header{
	width: 100%;
	height: 150px;
	/*background-color: #81C784;*/
	padding: 50px;
	color: #ffffff;
}

.title{
	/*font-size: 34px;*/
	font-size: 2.3vw;
}

.subtitle{
	font-size: 18px;
}

.row{
	display: flex;
  align-items: center;
  justify-content: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

.left{
	align-self: flex-start;
}

.right{
	margin-left: auto;
	margin-right: 200px;
	margin-top: 0;
	margin-bottom: 0;
}

p{
	font-size: 14px;
	font-weight: 500;
}