.mat-card {
    min-width: 100px;
    /*max-width: 300px;*/
    width: auto;    
    display: flex;
    flex-flow: column;
    
    /*justify-content: center;*/
    margin:0 10px 0 10px;
   

}

.login{
	display: flex;
	flex-flow: column;
	/*width: 300px;*/
    width: auto;
	margin-top: 25px;
	margin-bottom: 25px !important;	

}

.example-full-width {
  width: 100%;

}

.line-input{
    display: flex;
    flex-flow: row;
}

.mat-form-field{
    margin-left: 10px;
}

