<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<router-outlet></router-outlet>


<!-- still tring to make navigation on left side -->


<!-- <mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened="true" >
        <div class="sidenav">
            <img matListAvatar class="logo-icon" src="assets/proto.png">
        </div>
        
        <mat-nav-list>
            <mat-list-item >
                <a matLine href="..."> About </a>                
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->



