<mat-sidenav-container class="example-container "  >

    <!-- make it dynamy list nav as soon as as possible -->
    <mat-sidenav #sidenav mode="side" opened="false" class="mat-elevation-z6">      
        
         <app-nav-list></app-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>       
       
        <mat-toolbar color="primary" class="header mat-elevation-z6">
            <mat-toolbar-row>
                <button type="button" mat-icon-button (click)="sidenav.toggle()" (click)="onIconMenu()" title="Open sidenav">
                    
                    <mat-icon *ngIf="!open">menu</mat-icon>
                    <mat-icon *ngIf="open">clear</mat-icon>
                </button>
                <a mat-button routerLink="">
                
                <!-- <img class="logo-image" src="/assets/proto.png">
                <span>PROTOTYPE</span> -->
                </a>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="content">
            <app-header [title]="header"></app-header>
            
            <router-outlet></router-outlet>

        </div>

        <!-- <mat-toolbar  class=" primary-text footer ">
            ReportHub 2.0
            <span class="space"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">                
              <mat-icon>format_color_fill</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                  <mat-grid-list cols="2" rowHeight="48px">
                    <mat-grid-tile *ngFor="let theme of themes" (click)="changeTheme(theme.name)" >
                        <div class="round" [style.backgroundColor]="theme.baseColor">
                            <mat-icon *ngIf="theme.isActive" class="active-icon">check</mat-icon>
                        </div>           
                    </mat-grid-tile>
                      
                  </mat-grid-list>
            </mat-menu>
        </mat-toolbar> -->

        
    </mat-sidenav-content>
</mat-sidenav-container>


