.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav-container{
background-color: #ffffffff;

}
.mat-sidenav{
min-width: 300px;
max-width: 400px;
background-color: 
#f5f5f5;
color:#673ab7;

/*background-color: #673ab7;
color:#ffffff;*/

}

.sidenav{
  background-color: #673ab7;
}

.header{
  position: fixed;
  z-index: 10;
}
.footer{
  position: fixed;
  bottom: 0;
  /*color: #673ab7;*/
  z-index: 2;
}

.content{
  margin-top: 64px;
}
a.mat-line{
  color: #673ab7;
}
.mat-divider{
  border-top-color: 
#adadad;
}

.mat-nav-list{
  padding-top: 0px;
}
/* .active {
  background-color: #d291f8;
  
}

.active a.mat-line{
  color: #ffffff;
} */
.logo-image{
  height: 50px;
}

.space {
   flex: 1 1 auto;
}