/*.form-card{
 width:1000px;
 border-left: 3px solid #673ab7;
}
*/
.full-width{
  min-width: 75px;
}

.dynamic-form{
  min-width: 150px;
  /*margin-top: 50px;*/

  
  width: 100%;

  display: flex;
  
  flex-flow: row wrap;
  justify-content: center;
}

.mat-form-field{
	margin:0 10px 0 10px;
}

.mat-table {
  overflow: auto;
  max-height: 550px;  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {  

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

