  <mat-card-title>Forms</mat-card-title>
   <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onAllowEdit()" [hidden]="!allowEdit"> {{ !allowEdit ? "Edit Form" : "Close"}}</button>
    <!-- <button mat-raised-button color="warn" (click)="onAllowEdit()" [hidden]="allowEdit"> X </button> -->
  </mat-card-actions>
  <div [hidden]="!allowEdit">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm(form, formDirective)" class="dynamic-form">
    <!-- <form  [formGroup]="form" (ngSubmit)="submitForm()"  class="dynamic-form" > -->
      <ng-container *ngFor="let c of controls; let i = index "  >    

        <mat-form-field *ngIf="c.type==='select' && !c.options" class="full-width" >
               <!-- using name -->
              <!-- <ng-container *ngIf=" i == indexRef ">
                <mat-select [formControlName]="c.name"  [placeholder]="c.name" (change)="selectChange(i)"  >              
                <mat-option *ngFor="let  option of c.cascade" [value]="option" > {{option}}</mat-option>
                </mat-select>                         
              </ng-container> -->

              <ng-container *ngIf=" i == indexRef ">
                <mat-select [formControlName]="c.name"  [placeholder]="c.name" (change)="selectChange(i)"  >              
                <mat-option *ngFor="let  option of firstCascade" [value]="option" > {{option}}</mat-option>
                </mat-select>                         
              </ng-container>

              <ng-container *ngIf=" i != indexRef && i !== thelast">
                <mat-select [formControlName]="c.name" [placeholder]="c.name" (change)="selectChange(i)" >             
                  <mat-option *ngFor="let  option of listValueOfInputSelect[i]" [value]="option[c.name]" > {{option[c.name]}} </mat-option>
                </mat-select>              
              </ng-container>

              <ng-container *ngIf=" i == thelast ">              
                <mat-select [formControlName]="c.name" [placeholder]="c.name" >  

                  <mat-option *ngFor="let  option of listValueOfInputSelect[i]" [value]="option[c.name]" > {{option[c.name]}}</mat-option>
                </mat-select>              
              </ng-container>         
            


        </mat-form-field >


        <mat-form-field *ngIf="c.type==='select' && c.options" class="full-width" >
          <mat-select [formControlName]="c.name" [placeholder]="c.name" >             
                  <mat-option *ngFor="let  option of c.options" [value]="option">{{option}}</mat-option>
                </mat-select>
        </mat-form-field>

       


        <mat-form-field  *ngIf="c.type==='input'" class="full-width" >
          <!-- <input matInput type="number" min="0" [formControlName]="c.name" [placeholder]="c.name"> -->
          <ng-container *ngIf="c.inputType === 'number'">
            <input matInput type= "number" min="0" [formControlName]="c.name" [placeholder]="c.name" >
          </ng-container>
          <ng-container *ngIf="c.inputType !== 'number'">
            <input matInput type= "text" min="0" [formControlName]="c.name" [placeholder]="c.name" >
          </ng-container>
        </mat-form-field>



        <!-- <ng-container *ngIf="c.type==='date'">
          <app-date-picker [form]="form" [control]="c" ></app-date-picker>    
        </ng-container> -->
             
      </ng-container>

      
         <div> <button  mat-raised-button color="primary" type="submit" class="btn btn-primary"><mat-icon >add</mat-icon> </button>
         </div>
        

      
      <!-- <p>{{form.status | json}}</p> -->
      
    </form>
    <!-- <div>
        <button  mat-raised-button color="primary" type="submit" class="btn btn-primary" (click)="submitForm()"><mat-icon >add</mat-icon> </button>
      </div> -->
  
  </div>

  <!-- <div [hidden]="!allowEdit" >
    <div *ngFor="let c of controls; let i = index " [formGroup]="form">
          <ng-container *ngIf="c.type==='checkbox'">
            <mat-checkbox   [formControlName] = "c.name" [value]="c.name"  color="primary" >          
              {{c.name}}
            </mat-checkbox>
          </ng-container>

          <ng-container *ngIf="c.type==='multi-checkbox'">
            
            <mat-checkbox color="primary" [formControlName]="c.name" 
                class="example-margin"                      
                    (change) = "hideme[i] = !hideme[i]"  (change)="checkboxChange($event)"> 
                        
                    {{c.name}}              
            </mat-checkbox>

            <div [hidden]="!hideme[i]" >
              <ng-container *ngFor="let name of c.data">
                <div>
                  <mat-checkbox color="primary" [value]="name.name"  (change)="childcheckboxChange($event,c)" >          
                    {{name.name}}
                  </mat-checkbox>
                </div>
              </ng-container>
            </div>
          </ng-container>
    </div>
  </div> -->

  <div [hidden]="!allowEdit" >
    <!-- <div *ngFor="let c of controls; let i = index " [formGroup]="form">
          <ng-container *ngIf="c.type==='checkbox'">
            <mat-checkbox   [formControlName] = "c.name" [value]="c.name"  color="primary" [checked]="check">          
              {{c.name}}
            </mat-checkbox>
          </ng-container>

          <ng-container *ngIf="c.type==='multi-checkbox'"> -->
            <!-- [formControlName]="c.name" -->
            <!-- <mat-checkbox color="primary"  
                class="example-margin"                      
                    (change) = "hideme[i] = !hideme[i]"  (change)="checkboxChange($event)" [checked]="check"> 
                        
                    {{c.name}}              
            </mat-checkbox>

            <div [hidden]="!hideme[i]" >
              
              <ng-container *ngFor="let name of c.data">
                <div>
                  <mat-checkbox color="primary" [value]="name.name"  (change)="onCheckChange($event,c.name)" [checked]="check">          
                    {{name.name}}
                  </mat-checkbox>
                </div>
              </ng-container>
              
            </div>
          </ng-container>
        </div> -->
                    <!-- <ng-container *ngFor="let name of this.form.controls[c.name].controls;let i = index "> -->
                    <!-- <ng-container *ngFor="let name of this.form.get(c.name).controls"> -->
                      <!-- <div>
                        <mat-checkbox color="primary" [formControl]="name" [value]="c.data[i].name" checked="false" (change)="onCheckChange($event,c.name)" >           
                          {{c.data[i].name}}
                        </mat-checkbox>
                      </div>
                    </ng-container> -->
      <app-checkbox [controls]="controls" [form]="form" [check]="check" [submitSuccess]="notif"></app-checkbox>
  </div>




 <!--  <div class="example-container mat-elevation-z8">  
  <mat-table #table [dataSource]="dataSource" >
    <ng-container *ngFor="let col of displayedColumnstwo " matColumnDef="{{col}}" >
      <mat-header-cell *matHeaderCellDef> {{col|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-color-primary"> {{element[col]}} </mat-cell>        
    </ng-container>
    <ng-container matColumnDef="actions" >
        <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index "> 
          <button mat-icon-button color="primary"> 
            <mat-icon (click)="openDialog(i)">mode_edit</mat-icon> 
          </button>  
          <button mat-icon-button color="primary">
            <mat-icon (click)= "onDelete(i)">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    
   
    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-bg-primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="pageOptions[2]" [pageSizeOptions]="pageOptions" >
  </mat-paginator>
</div> -->



<!-- coba -->

<!-- DISPLAY table -->
<div class="example-container mat-elevation-z8" *ngIf=" display =='table' && raw.length > 0 ">

  <mat-table #table [dataSource]="dataSourceRaw" >
    <ng-container *ngFor="let col of columnTwo " matColumnDef="{{col}}" >
      <mat-header-cell *matHeaderCellDef> {{col|uppercase}} </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-color-primary">
      <span class="tablet-label">{{col|uppercase}}</span>
        {{element[col]}}
      </mat-cell>
      <p></p>        
    </ng-container>
    <ng-container   matColumnDef="actions" >
        <mat-header-cell *matHeaderCellDef [hidden]="!allowEdit"> ACTIONS </mat-header-cell>
        <ng-container >
            <mat-cell *matCellDef="let row;let i = index "  [hidden]="!allowEdit">
            <span class="tablet-label">ACTIONS</span>

            <button mat-icon-button color="primary" > 
              <mat-icon (click)="openDialog(row)">mode_edit</mat-icon>
            </button>  
            <button mat-icon-button color="warn" >
              <mat-icon (click)= "onDelete(row,i)">delete</mat-icon><!-- {{i}} -->
            </button>
          </mat-cell>
        </ng-container>   

    </ng-container>
    
   
    <mat-header-row *matHeaderRowDef="columnOne" class="mat-bg-primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnOne" ></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="pageOptions[2]" [pageSizeOptions]="pageOptions"  >
  </mat-paginator>
</div>

<!-- DISPLAY Comma -->
  <!-- <ng-container  *ngFor="let data of raw; let i = index "> -->
<!-- <div *ngIf="display =='comma'"> 
  <div  *ngFor="let data of obs | async">
    
      <div class="comma">
        <mat-icon class="icon" color="primary">location_on</mat-icon>
        <p *ngFor="let key of columnTwo" class="space mat-color-primary" color="primary">
          {{data[key]}}, 
        </p>
        <ng-container *ngIf="allowEdit">
         <div class="right">
           <button mat-mini-fab color="primary">
            <mat-icon (click)="openDialog(data)">mode_edit</mat-icon>
          </button>
           <button mat-mini-fab color="warn"  >
            <mat-icon aria-label="Example icon-button with a heart icon"  (click)= "onDelete(data,i)" >close</mat-icon>
           </button>         
         </div>    
        </ng-container>

      </div>
      
          
        
        
    
  </div>
  <mat-paginator #paginator
                 [pageSize]="pageOptions[1]" [pageSizeOptions]="pageOptions"  >
  </mat-paginator>
</div> -->


<!-- FOR MULTIFORM DISPLAY -->
<div *ngIf= "display == 'comma'">
 <div class="display-comma">
    <div  *ngFor="let data of obs | async;let i= index " >
      
        <div class="comma">
            <mat-icon class="icon" color="primary">location_on</mat-icon>

            <p *ngFor="let key of columnTwo" class="space mat-color-primary" color="primary">
              <span class="tablet-label">{{key}}:</span>{{data[key]}},
            </p>

            <div class="right" [hidden]="allowEdit">
            <ng-container *ngFor="let itemMulti of multiform;let indexmulti= index ">
              {{itemMulti.name}}
              <button mat-button  >
                {{data[this.multiform[indexmulti].name]? data[this.multiform[indexmulti].name].length:0}}
              </button>
              <button mat-button >
                <mat-icon>people</mat-icon>
              </button>
            </ng-container>           
              <!-- <button mat-button  >
                {{data[this.multiform[0].name]? data[this.multiform[0].name].length:0}}
              </button>
              <button mat-button >
                <mat-icon>people</mat-icon>
              </button> -->
              
            </div>
             
            <ng-container *ngIf="allowEdit">
             <div class="right">
               <button mat-mini-fab color="primary">
                <mat-icon (click)="openDialog(data)">mode_edit</mat-icon>
              </button>
               <button mat-mini-fab color="warn"  >
                <mat-icon aria-label="Example icon-button with a heart icon"  (click)= "onDelete(data,i)" >close</mat-icon>
               </button>         
             </div>        
            </ng-container>

        </div>
        
      
          <ng-container *ngFor="let item of multiform;let index= index ">
            <div class="multi-form-button" >        
              <button color="primary" mat-raised-button (click)="addMulti(index,data)">
                {{item.name}} (+) {{index}}
              </button>
            </div>
         
              <!-- <div [hidden]="item.hidden"> -->
              <div *ngIf="data === openExtendFormData  && !item.hidden "  >


            
              <app-extended-form [childForm]="item.configChildform" (extendSubmit) = "extendSubmit($event,data,index)"></app-extended-form>
                
              </div>
            
          </ng-container>
          <div class="divider"></div> 
    </div>

  </div>
  <mat-paginator #paginator
                 [pageSize]="pageOptions[1]" [pageSizeOptions]="pageOptions"  >
  </mat-paginator>
  
</div>
<!-- FOR MULTIFORM DISPLAY END -->

<!-- Coba Checkbox -->
<!-- <mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <mat-checkbox color="primary"
          class="example-margin"
          *ngFor="let a  of checkboxData; let indexCheck = index "       
             (change)="checkboxChange($event)" [value]="a" (change) = "hideme[indexCheck] = !hideme[indexCheck]" >
              {{a.c}}     
              
        
      </mat-checkbox>
      
        
    </section>
    
  </mat-card-content>


  <div *ngFor="let a of checkboxData;let x = index ">
    <div [hidden]="!hideme[x]" >

      <ng-container *ngFor="let name of a.name">
        <mat-checkbox color="primary" [value]="name" (change)="childcheckboxChange($event)">          
          {{name}}
        </mat-checkbox>
      </ng-container>
    </div>
    
  </div>
</mat-card> -->

<!-- Coba Checkbox-end -->
