/*.form-card{
 width:1000px;
 border-left: 3px solid #673ab7;
}
*/

.mat-card-actions{
margin-right: 0;
margin-left: 0
}
.full-width{
  /*min-width: 75px;*/
  width: 10%;
}
app-date-picker{
  width: 10%;
margin:0 10px 0 10px;
}

.dynamic-form{
  min-width: 150px;
  /*margin-top: 50px;*/

  
  width: 100%;

  display: flex;
  
  flex-flow: row wrap;
  /*justify-content: flex-start; */
  justify-content: center;
  /*justify-content: flex-end;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0 10px 0;
  padding: 15px 0 5px 0;

}


.dynamic-form div{
  padding-top:10px;
   /*margin-left: auto;*/
   margin-right: 10px;


}

.mat-form-field{
	margin:0 10px 0 10px;
}

.mat-table {
  overflow: auto;
  height: 100%; 
}

.tablet-label {
  display: none;
}

.divider{
  display: none;
}

.comma{
  display: flex;
  flex-flow: row;
  /*justify-content: center;*/
  justify-content: flex-start;
  align-items: center;
  /*text-transform: uppercase;*/
}

.right{
  margin-left: auto;
  margin-right: 140px;}
.left{
  align-self: flex-start;
}
.icon{
  margin-left: 100px;
  margin-right: 20px;
  font-size: 25px;
}

.space{
  margin-left: 5px;

}

.multi-form-button{
  
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {  

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 768px)   {
  .mat-form-field.mat-form-field {
    width: 150px;
  }
  app-date-picker{
    width: 150px;
  }

  .tablet-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .divider{
    width: 100%;
    border-bottom: 2px solid #959595;
    display: block;
    margin-bottom: 10px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .dynamic-form div{
 
     margin-left: 73px;
     margin-right: 10px;


  }

  .mat-table {
    overflow: auto;
    height: 450px; 
  }

.comma{
  display: flex;
  flex-flow: column;
  /*justify-content: center;*/
  justify-content: flex-start;
  align-items: start;
  /*text-transform: uppercase;*/

}

.display-comma{
  overflow: auto;
  height: 500px;
}

.multi-form-button{
  margin-left: 0;
}

.right{
  margin-left: 10px;
}







} 

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 1024px) {
  .mat-form-field.mat-form-field {
    width: 200px;
  }
  app-date-picker{
    width: 200px;
  }

  .dynamic-form div{
 
   margin-left: 336px;
   margin-right: 10px;
  }



} 

@media (min-width: 1025px) and (max-width: 1365px) {
   .mat-form-field.mat-form-field {
    width: 65px;
  }
  app-date-picker{
    width: 65px;
  }




} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1366px) and (max-width: 1440px) {
   .mat-form-field.mat-form-field {
    width: 120px;
  }



} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
  .mat-form-field.mat-form-field {
    width: 150px;
  }

}*/

