<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Edit Data</h1>
   <mat-dialog-content *ngFor="let c of controlName;let i = index ">
	
   	  <mat-form-field *ngIf="c=== 'name'">
	    <input matInput placeholder="Input" [formControlName]="c">
	  </mat-form-field>

	  <mat-form-field *ngIf="c==='text'">
	    <textarea matInput placeholder="Textarea" [formControlName]="c"></textarea>
	  </mat-form-field>
   	
   </mat-dialog-content> 
   <mat-dialog-actions>
    <button mat-button type="submit">Save</button>
    <button mat-button mat-dialog-close >Cancel</button>
  </mat-dialog-actions>
</form>