.title-card {
  /* width: calc(100% );
  height: calc(100% ); */
  /* width: 750px; */
  width:1000px;
  border-left: 3px solid #673ab7;
  

}

.mat-card-title{
	text-align: center;
	/*font-size: 45px;*/
	align-items: center;
	margin-bottom: 2px;
}

.mat-card-subtitle{
	text-align: center;
	font-size: 16px;
}

span{
	border-left : 2px solid #959595;
	padding-left: 5px;
}