.card-stats{
    /* width: 650px; */
    /* width: 50%;
    height: 50%; */
    width:1000px;
    border-left: 3px solid #673ab7;
}

.stats-card {

	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
*/
}

.mat-card-title{
	text-align: center;
	/*font-size: 45px;*/
	align-items: center;
	margin-bottom: 2px;
}

.mat-card-subtitle{
	text-align: center;
	font-size: 16px;
}