.mat-card{
  margin-top: 100px;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  width: 1000px;
  
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
  /*min-height: 500px;*/
  
}
.mat-header-row{
  background-color: #673ab7;
}

.mat-row, .mat-header-row{  
  border-bottom-color: #673ab7;
}

.mat-header-cell {  
  color: #ffffff;
}

.mat-cell {
   color: #673ab7;
  }
.tablet-label {
  display: none;
}

@media (max-width: 768px)   {
  .mat-form-field.mat-form-field {
    width: 150px;
  }

  .tablet-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .dynamic-form div{
 
     margin-left: 73px;
     margin-right: 10px;


  }

  .mat-table {
    overflow: auto;
    height: 450px; 
  }
} 