<!-- <mat-card class="example-container mat-elevation-z5">
  <h1>Table</h1>
  <mat-table #table [dataSource]="dataSource" matSort> -->
    
    <!-- Dynamic Table -->
    <!-- <ng-container *ngFor="let col of displayheader" matColumnDef="{{col}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{col|uppercase}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[col]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayheader"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayheader;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="pageOptions[2]" [pageSizeOptions]="pageOptions">
  </mat-paginator> -->

  <!-- <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>
      <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
      <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                  </ng-container>
      <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>
      <ng-container matColumnDef="jumlah">
        <mat-header-cell *matHeaderCellDef> Jumlah </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayheader"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayheader;"></mat-row>
    </mat-table> -->


<!-- </mat-card> -->

<!-- coba -->
<h1>Table</h1>
<mat-table #table [dataSource]="dataSource" matSort>

  <!-- Dynamic Table -->
  <ng-container *ngFor="let col of displayheader" matColumnDef="{{col}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{col|uppercase}} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element[col]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayheader"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayheader;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="pageOptions[2]" [pageSizeOptions]="pageOptions">
</mat-paginator>




