<!-- <h1>Table2</h1> -->
<mat-table #table [dataSource]="dataSourcetwo" matSort>

  <!-- Dynamic Table -->
  <ng-container *ngFor="let col of displayHeadertwo" matColumnDef="{{col}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{col|uppercase}} </mat-header-cell>
    <mat-cell *matCellDef="let element">
    <span class="tablet-label">{{col|uppercase}}</span> 
      {{element[col]}} 
    </mat-cell>        
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element" >
         <button md-raised-button >Edit</button> 
    </mat-cell>
  </ng-container> 

  <mat-header-row *matHeaderRowDef="displayHeadertwo"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayHeadertwo;"></mat-row>


</mat-table>

<mat-paginator #paginator [pageSize]="pageOptions[2]" [pageSizeOptions]="pageOptions">
</mat-paginator>



 <!--  <mat-table #table [dataSource]="dataSource">

   
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field class="example-full-width" *ngIf="editmode">
          <input matInput value= "{{element.position}}" >
        </mat-form-field>
        <span *ngIf="!editmode">
          {{element.position}}
        </span>  
               
       </mat-cell>
    </ng-container>
 -->
    <!-- Name Column -->
  <!--   <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
          <input matInput value= "{{element.name}}" >
             
      </mat-cell>
    </ng-container> -->

    <!-- Weight Column -->
   <!--  <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        
          <input matInput value= "{{element.weight}}" >
        
      </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
  <!--   <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
          <input matInput value= "{{element.symbol}}" >
        
      </mat-cell> 
     
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        Edit
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button  >
          <mat-icon (click)="onEditMode()" >mode_edit</mat-icon>          
        </button>     
        <button mat-icon-button >
          <mat-icon (click)="onClearMode()">clear</mat-icon>          
        </button>        
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

<!-- Coba 3 -->

<!-- <h3 class="page-header">Add Invoice</h3>
    <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button><br>
    <form [formGroup]="invoiceForm">
      <div formArrayName="itemRows">
        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
          <h4>Invoice Row #{{ i + 1 }}</h4>
          <div class="form-group">
            <label>Item ID</label>
            <input formControlName="itemid" class="form-control">
            <label>Item Name</label>
            <input formControlName="itemname" class="form-control">
          </div>
          <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button>
        </div>
      </div>

    </form>
    <pre>{{invoiceForm.value | json}}</pre>
 -->

 <!-- TRY -->
  <!-- <mat-table #table [dataSource]="dataSource"> -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element">  -->
        <!-- text -->
        <!-- <mat-form-field class="example-full-width">
    <input matInput  [value]="element.position">
  </mat-form-field>
         </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" color="primary"> -->
        <!-- text with link -->
       <!--  <a href="https://material.angular.io/components/icon/api">
          {{element.name}}
        </a> 
      </mat-cell>
    </ng-container> -->

    <!-- Weight Column -->
   <!--  <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element">  -->
        <!-- link with icon -->
        <!-- <a   href="https://material.angular.io/components/icon/api">
        <mat-icon color="primary">launch</mat-icon>
        </a>
        </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element">  -->
        <!-- {{element.symbol}} -->
        <!-- icon -->
       <!--  <mat-icon color="primary">{{element.symbol}}</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

  <!-- icon, iconlink,text,textlink -->
  <!-- <p>{{tabledata[0].name}}</p>

  <mat-icon color="primary">{{tabledata[0].symbol}}</mat-icon>

  <a  href="{{tabledata[0].weight}}">
        <mat-icon color="primary">launch</mat-icon>
  </a>

  <a href="{{tabledata[0].name}}">
          {{tabledata[0].name}}
        </a> -->