/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* *{
    width: 100%;
    margin: 0;
} */

body{
    margin:0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

mat-card {
  max-width: 100%;
  margin: 2em auto;
  
}