<!-- <app-header [title]="title"></app-header> -->
<div class="card-wrapper">
    <!-- <mat-card>
    HOME of PROTOTYPES
</mat-card> -->
    <mat-card class="example-card">

        <img mat-card-image src="https://cdn.lynda.com/course/157341/157341-636283001243114363-16x9.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>
                Report Monthly
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                of Lorem Ipsum.
            </p>
        </mat-card-content>
        <mat-card-actions class="rh-btn">
            <button mat-button>LIKE</button>
            <span class="example-spacer"></span>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">

        <img mat-card-image src="https://cdn.lynda.com/course/157341/157341-636283001243114363-16x9.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>
                Financial Monthly
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                of Lorem Ipsum.
            </p>
        </mat-card-content>
        <mat-card-actions class="rh-btn">
            <button mat-button>LIKE</button>
            <span class="example-spacer"></span>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">

        <img mat-card-image src="https://cdn.lynda.com/course/157341/157341-636283001243114363-16x9.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>
                Project Init
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                of Lorem Ipsum.
            </p>
        </mat-card-content>
        <mat-card-actions class="rh-btn">
            <button mat-button>LIKE</button>
            <span class="example-spacer"></span>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="card-wrapper-btn">
    <mat-card class="report">
        <button mat-raised-button color="primary" class="btn-report">
            <mat-icon>assignment_turned_in</mat-icon>
            <div class="txt-btn">
                PROJECT AS COMPLETE
            </div>
        </button>
        <button mat-raised-button color="warn" class="btn-report">
            <mat-icon>home</mat-icon>
            <div class="txt-btn">DELETE</div>
        </button>
    </mat-card>
</div>