<div class="navbar-header mat-bg-primary" >

    <div class="logo">
        <img class="logo-icon" src="assets/proto.png">
        <span class="logo-text mat-h2">Report Hub 2.0</span>
    </div>      

</div>

<mat-nav-list *ngFor="let link of  navigationModel"  >
  <mat-list-item class ="mat-color-primary" routerLink="/{{link.url}}" routerLinkActive="mat-active-link"  >
    <a matLine  >{{ link.title | uppercase }}</a>
    <button mat-icon-button > 
      <mat-icon >{{link.title}}</mat-icon>
    </button>
    
  </mat-list-item>
  <!-- <mat-divider></mat-divider> -->
</mat-nav-list>
